pandas==2.2.3
matplotlib==3.9.1
seaborn==0.13.2
pyyaml==6.0.1
torch==2.5.1
transformers==4.48.2
datasets==3.0.1 
accelerate==0.34.2 
peft==0.14.0 
trl==0.14.0
bitsandbytes==0.44.1 
wandb==0.15.12 
pyarrow==15.0.0 

langchain==0.0.308
chromadb==0.4.14
sentence-transformers==3.3.1
evaluate==0.4.3
nltk==3.7
absl-py==1.4.0
rouge-score==0.1.2
vllm==0.7.1
openpyxl