jupyter== 1.1.1
notebook==7.3.2
openpyxl==3.1.5
pandas==2.2.3
matplotlib==3.9.1
seaborn==0.13.2
pyyaml==6.0.1
torch==2.6.0
transformers==4.57.1
datasets==3.5.0
accelerate==1.10.1
peft==0.17.1
trl==0.23.1
bitsandbytes==0.48.1
wandb==0.19.6
pyarrow==15.0.0 

langchain==0.3.27
chromadb==0.4.14
sentence-transformers==5.1.1
evaluate==0.4.6
nltk==3.7
absl-py==1.4.0
rouge-score==0.1.2
vllm==0.11.0
deepspeed==0.18.0
mpi4py==4.0.2
pytest==8.3.5
